{% extends "base.html" %}

{% block body %}
<div align="center">

    <h1>
        About the Project
    </h1>
</div>

<center>
<div class="well" style="width: 50%">

    <p>
        We are scientists. We are doing really cool science.
        Help us classify these black holes.
        If it is a black hole spectrum, click "Yes good." If not, click "No bad."
        If you have any questions, ask the nearest astrophysicist.
    </p>

    <p>
        This project is funded by...like no one. I think.
    </p>

    <p>
        Science forever!!!
    </p>


</div>
</center>

<div align="center">
    <a href="http://127.0.0.1:5000/#"><img src="{{url_for('static', filename='blackhole3.jpg')}}" style="width: 50%" vspace="20" </a>
</div>

{% endblock %}