{% extends "base.html" %}

{% block body %}

    <div class = 'content' align="center">

        <h1>Has the algorithm correctly categorized this black hole?</h1>

    </div>

<center>
    <div style="display: inline-block">
        <p> Machine says: </p>
        <div class="well well-sm">
            <p> {{answer}} </p>
        </div>
     </div>
    <br>
    <div style= "width: 70%" align="center">

        {{someplot | safe}}

    </div>
</center>
<br>
    <div align="center">
        <p> You say: </p>
        <a href="verify_machine_label?id={{id}}&is_wr=True" class="btn btn-primary" >Yes</a>
        <a href="verify_machine_label?id={{id}}&is_wr=False" class="btn btn-primary" >No</a>
        <a href="verify_machine_label" class="btn btn-primary" >Skip </a>
    </div>
<br><br><br>


{% endblock %}