<!DOCTYPE html>
<html>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
      integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<head>
    <!--<link rel="shortcut icon" href="favicon.ico" type="image/x-icon"/>-->
    <!--<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">-->
    <!--<link rel="icon" href="/favicon.ico" type="image/x-icon">-->
    <title>
        Black Hole Sort
    </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.css') }}">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

</head>

<style>
body {
  background: #cbe4e6;
}


</style>

<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">BHNBH</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="/about">About <span class="sr-only">(current)</span></a></li>
                <li><a href="/affirmation">Verify Machine Answers<span class="sr-only">(current)</span></a></li>
                <li><a href="/galaxy">Galaxies Data <span class="sr-only">(current)</span></a></li>
                <li><a href="https://www.nasa.gov/audience/forstudents/5-8/features/nasa-knows/what-is-a-black-hole-58.html">Black
                        Holes</a></li>
             </ul>
            <ul class="nav navbar-nav navbar-right">
            <li><a href="https://media1.popsugar-assets.com/files/thumbor/7AkJJWFxIOSGNhbmAaZuiChy7PQ/fit-in/1024x1024/filters:format_auto-!!-:strip_icc-!!-/2015/02/09/827/n/1922398/7456dc79_blackholegif.gif">The Best Black Hole Sorting App ;)</a></li>
            </ul>
        </div>
    </div>
</nav>


{% block body %}{% endblock %}


</body>
</html>
